<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/fol.css') }}">

    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <style>
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />

    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>

    </style>

</head>

<body>

    <div class="wrapper">
        <input type="checkbox" id="btn" hidden checked>
        <label for="btn" class="menu-btn">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </label>
        <nav id="sidebar">
            <div class="title">Turbidity Measure</div>
            <ul class="list-items">
                
                <li><a href="#"><i class="fas fa-envelope"></i>Contact us</a></li>
                <button type="button" class="sidebar-button">Primary</button>
                <div class="icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </ul>
        </nav>
    </div>
    
    <div class="folium-map" id="map_f53e9594b00a751a13c413ab606fd6bc"></div>

</body>
<script>
    const btn = document.querySelector('#btn');
const button = document.querySelector('.sidebar-button');

button.addEventListener('click', () => {
  btn.checked = false;
});
</script>
<script>


    var map_f53e9594b00a751a13c413ab606fd6bc = L.map(
        "map_f53e9594b00a751a13c413ab606fd6bc",
        {
            center: [18.41, 73.74],
            crs: L.CRS.EPSG3857,
            zoom: 12,
            zoomControl: true,
            preferCanvas: false,
        }
    );





    var tile_layer_a512e8887d72988e0a29e40651858fee = L.tileLayer(
        "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
        { "attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
    ).addTo(map_f53e9594b00a751a13c413ab606fd6bc);


    var tile_layer_9da3f6754a04d72373cf10c77ef8c703 = L.tileLayer(
        "https://mt1.google.com/vt/lyrs=m\u0026x={x}\u0026y={y}\u0026z={z}",
        { "attribution": "Google", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
    ).addTo(map_f53e9594b00a751a13c413ab606fd6bc);


    var tile_layer_c4da5408467c1a44bd4fbdd41e1cd949 = L.tileLayer(
        "https://mt1.google.com/vt/lyrs=y\u0026x={x}\u0026y={y}\u0026z={z}",
        { "attribution": "Google", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
    ).addTo(map_f53e9594b00a751a13c413ab606fd6bc);


    var layer_control_175387e759eee6c93713ff2d8d96689f = {
        base_layers: {
            "stamenterrain": tile_layer_a512e8887d72988e0a29e40651858fee,
        },
        overlays: {
            "Google Maps": tile_layer_9da3f6754a04d72373cf10c77ef8c703,
            "Google Satellite": tile_layer_c4da5408467c1a44bd4fbdd41e1cd949,
        },
    };
    L.control.layers(
        layer_control_175387e759eee6c93713ff2d8d96689f.base_layers,
        layer_control_175387e759eee6c93713ff2d8d96689f.overlays,
        { "autoZIndex": true, "collapsed": true, "position": "topright" }
    ).addTo(map_f53e9594b00a751a13c413ab606fd6bc);

</script>

</html>