<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_85141ecaf92688a73867ce09476f4382 {
                    position: relative;
                    width: 100.0%;
                    height: 1000.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_85141ecaf92688a73867ce09476f4382" ></div>
        
</body>
<script>
    
    
            var map_85141ecaf92688a73867ce09476f4382 = L.map(
                "map_85141ecaf92688a73867ce09476f4382",
                {
                    center: [18.409749, 73.700581],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6df3e25840c651c63e6dd1759c50bc6f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_85141ecaf92688a73867ce09476f4382);
        
    
            var tile_layer_32ee30abbc45ee3eed536f7ae02fbe0c = L.tileLayer(
                "https://mt1.google.com/vt/lyrs=y\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "Google", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_85141ecaf92688a73867ce09476f4382);
        
    
            var tile_layer_66c0a35e134b9253c877abf6d73364f1 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/87c6b39cfd5023f91654af80f5677320-f86997fbddd04919969526e28e3d3d1a/tiles/{z}/{x}/{y}",
                {"attribution": "Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_85141ecaf92688a73867ce09476f4382);
        
    
            var layer_control_5306545a5be598171e5cfe994a12d9c6 = {
                base_layers : {
                    "openstreetmap" : tile_layer_6df3e25840c651c63e6dd1759c50bc6f,
                },
                overlays :  {
                    "Google Satellite" : tile_layer_32ee30abbc45ee3eed536f7ae02fbe0c,
                    "NDTI" : tile_layer_66c0a35e134b9253c877abf6d73364f1,
                },
            };
            L.control.layers(
                layer_control_5306545a5be598171e5cfe994a12d9c6.base_layers,
                layer_control_5306545a5be598171e5cfe994a12d9c6.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_85141ecaf92688a73867ce09476f4382);
        
    
            var options = {
              position: "topleft",
              draw: {"circle": false, "circlemarker": false, "marker": true, "polygon": false, "polyline": false, "rectangle": false},
              edit: {"edit": false},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_85141ecaf92688a73867ce09476f4382
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_518f91d34f4484a0e097179fe9e48467 = new L.Control.Draw(
                options
            ).addTo( map_85141ecaf92688a73867ce09476f4382 );
            map_85141ecaf92688a73867ce09476f4382.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on('click', function() {
                    
                window.parent.showGraphs(coords);        
        
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_85141ecaf92688a73867ce09476f4382.on('draw:created', function(e) {
                drawnItems.addLayer(e.layer);
            });
            
        
</script>
</html>