<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e8a67e55cc38cb3d67082c90d132d08d {
                    position: relative;
                    width: 100.0%;
                    height: 1000.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_e8a67e55cc38cb3d67082c90d132d08d" ></div>
        
</body>
<script>
    
    
            var map_e8a67e55cc38cb3d67082c90d132d08d = L.map(
                "map_e8a67e55cc38cb3d67082c90d132d08d",
                {
                    center: [18.409749, 73.700581],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_38dc5e7a2cd0c5bd8db75a677d862579 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e8a67e55cc38cb3d67082c90d132d08d);
        
    
            var tile_layer_cd39e59a487c7fb515589d91b75ec854 = L.tileLayer(
                "https://mt1.google.com/vt/lyrs=y\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "Google", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e8a67e55cc38cb3d67082c90d132d08d);
        
    
            var tile_layer_452df1cab6274b84f2b67958b7d38546 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/d73e3ec0b3949605d7cd94b2918c6278-a703d8b6b75e80610d04d5c6350c3297/tiles/{z}/{x}/{y}",
                {"attribution": "Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e8a67e55cc38cb3d67082c90d132d08d);
        
    
            var layer_control_a60dae1e301aaa0c45d81f5a83aef20e = {
                base_layers : {
                    "openstreetmap" : tile_layer_38dc5e7a2cd0c5bd8db75a677d862579,
                },
                overlays :  {
                    "Google Satellite" : tile_layer_cd39e59a487c7fb515589d91b75ec854,
                    "NDTI" : tile_layer_452df1cab6274b84f2b67958b7d38546,
                },
            };
            L.control.layers(
                layer_control_a60dae1e301aaa0c45d81f5a83aef20e.base_layers,
                layer_control_a60dae1e301aaa0c45d81f5a83aef20e.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_e8a67e55cc38cb3d67082c90d132d08d);
        
    
            var options = {
              position: "topleft",
              draw: {"circle": false, "circlemarker": false, "marker": true, "polygon": false, "polyline": false, "rectangle": false},
              edit: {"edit": false},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_e8a67e55cc38cb3d67082c90d132d08d
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_9f56f4dc260e514e5143282b433b5cfa = new L.Control.Draw(
                options
            ).addTo( map_e8a67e55cc38cb3d67082c90d132d08d );
            map_e8a67e55cc38cb3d67082c90d132d08d.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on('click', function() {
                    
                window.parent.showGraphs(coords);        
        
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_e8a67e55cc38cb3d67082c90d132d08d.on('draw:created', function(e) {
                drawnItems.addLayer(e.layer);
            });
            
        
</script>
</html>